@font-face {
  font-family: "Título Principal";
  src: url("Fun\ Games.ttf");
}

@font-face {
  font-family: "Título Secundário";
  src: url("Gamer.ttf");
}

@font-face {
  font-family: "Texto";
  src: url("Kanit-Medium.ttf");
}

@keyframes animateBackground {
  0% {
    background-position: 0px 0px; /* Posição inicial do gradiente */
  }
  100% {
    background-position: -100% 0px; /* Posição final do gradiente */
  }
}

body {
  background-image: linear-gradient(to right, #464545, #dddada);
  background-size: 100% 50%; /* Ajuste o tamanho do gradiente */
  animation: animateBackground 2s linear infinite; /* Duração, tipo e repetição da animação */
  font-family: "Texto";
  margin: 0;
  padding: 60px;
  background-color: #000000;
}

/* Estilo para o cabeçalho principal */
#intro-pag {
  background-color: rgb(170, 53, 53);
  color: #fff;
  padding: 20px;
  background-image: url("gif.gif"); /* substitua pelo caminho da imagem desejada */
  background-size: cover; /* opcionalmente, ajuste o dimensionamento da imagem */
  border-radius: 40px;
}

h1 {
  font-family: "Título Secundário";
  font-size: 80px;
  margin-top: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
}

#Borda {
  background-size: 50px;
  text-align: center;
}

/* Estilo para a lista de jogos influentes */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  margin-bottom: 10px;
}

/* Estilo para os conteúdos padrão */
.conteudo-padrao {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
  text-align: center;
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
  position: relative; /* Para posicionar a imagem de fundo */
  overflow: hidden; /* Para garantir que a imagem de fundo não ultrapasse os limites do elemento */
}

#sp {
  background-color: #fff;
}

#sp:hover {
  background-color: #000000;
}

#pac {
  background-color: #fff;
}

#pac:hover {
  background-color: #000000;
}

#dk {
  background-color: #fff;
}

#dk:hover {
  background-color: #000000;
}

#mario {
  background-color: #fff;
}

#mario:hover {
  background-color: #000000;
}

/* Estilo para a imagem de fundo */
.conteudo-padrao::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease; /* Transição suave da opacidade */
}

#sp::after {
  background-image: url(space-invaders.png);
}

#pac::after {
  background-image: url(pacman.jpg);
}

#dk::after {
  background-image: url(dk.jpg);
}

#mario::after {
  background-image: url(mario.jpg);
}

.conteudo-padrao:hover::after {
  opacity: 1;
}

h2 {
  font-family: "Título Secundário";
  font-size: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0);
  border-radius: 40px;
  border-width: 10px;
  color: rgb(0, 0, 0);
  max-width: 500px;
}

h1,
h2 {
  font-family: "Título Secundário";
  text-align: center;
  background-color: rgba(0, 0, 0);
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

h1 {
  font-size: 80px;
  margin-top: 0;
  padding: 20px;
}

h2 {
  font-size: 50px;
  padding: 10px;
  max-width: 500px;
}

a:link {
  color: rgb(255, 255, 255); /* Cor do link normal */
}

p {
  line-height: 1.5;
  text-align: center;
}

/* Estilo para as imagens */
img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

/* Estilo para o rodapé */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

div {
  text-align: center;
}
